
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading"><a href="?mode=index"title="Esileht"><img src="pic/logo.jpg" alt="logo" height="85" width="150"/> </a><h2>Galerii</h2></div>
					<div class="panel-body">
					<h3>Kutsikad</h3>
					<div class="col-md-12">
						<a href="pic/koer2.jpg" title="Bigger picture" target="popup" onclick="window.open('pic/koer2.jpg','kvartira','width=500,height=400')"><img src="pic/koer2.jpg" alt="kutsikas" height="250" width="310"></a> <!--http://stackoverflow.com/questions/26647890/how-to-place-two-image-side-by-side-into-a-div-using-bootstrap--> 
					</div>
					<h3>Vanem Kutsikas</h3>
					<div class="col-md-12">
						<a href="pic/koer3.jpg" title="Bigger picture" target="popup" onclick="window.open('pic/koer3.jpg','kvartira','width=500,height=400')"><img src="pic/koer3.jpg" alt="kutsikas" height="250" width="310"></a>
					</div>
					<h3>Täiskasvanu</h3>
					<div class="col-md-12">
						<a href="pic/koer4.jpg" title="Bigger picture" target="popup" onclick="window.open('pic/koer4.jpg','kvartira','width=500,height=400')"><img src="pic/koer4.jpg" alt="koero" height="250" width="310"></a> 
					</div>
					<h3>Joonis</h3>
					<div class="col-md-12">
						<a href="pic/koer5.jpg" title="Bigger picture" target="popup" onclick="window.open('pic/koer5.jpg','kvartira','width=500,height=400')"><img src="pic/koer5.jpg" alt="pilt" height="250" width="310"></a>  
					</div>
					<p style="clear: both;">
					</div>
			</div>	
			